################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mm-cs-Reference/mm-cs-Reference.csproj
